{% extends 'base.html.twig' %}

{% block title %}Minerais{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<button><a href="/scientifiques">Retour à l'accueil</a></button>
    <h1>Remplir le formulaire pour ajouter un nouveau minerai</h1>   
    <form action="" method="post">
	    <div>
	        <label for="name">Nom du minerai:</label>
	        <input type="text" id="name" name="minerai_name">
	    </div>
	    <div>
	        <label for="niveau">Niveau dangerosité:</label>
	        <input type="number" id="danger" name="danger_minerai">
	    </div>
	    <div>
	    	<label for="zone">Zone de découverte :</label>
	    	<input type="text" id="zone" name="zone">
	    </div>
	     <div>
	    	<label for="date">Date de découverte :</label>
	    	<input type="date" id="date" name="date">
	    </div>
	    <div>
	        <input type="submit" name="Ajout" value="Ajouter ce nouveau minerai">
	    </div>
	</form> 
</div>
{% endblock %}
