nav
{
margin-bottom: 5em;
display: flex;
justify-content: space-around;
}
.ajout
{
margin-left: 80em;
}
.retour
{
margin-left: 5em;
}
h1
{
display: flex;
justify-content: center;
padding: 0%;
}
.zone
{
border: 1px solid black;
margin:5em;
}
