{% extends 'base.html.twig' %}

{% block title %}Scientifiques{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur ton profil Cher Scientifique</h1>	
    <h3>Progression des zones radioactives</h3>
    <button><a href="/minerais">Ajouter un nouveau Minerai</a></button>  
    <button><a href="/zones">Ajouter une zone affectée</a></button> 
</div>

	
{% for zone in zones %}
	<div class="zone">
		<p>{{zone.coordonneesGPS}}</p>
		<p>{{zone.danger}}</p>
	</div>
		
{% endfor %}

{% endblock %}
