{% extends 'base.html.twig' %}

{% block title %}Nouvelle zone{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<button><a href="/home">Retour à l'accueil</a></button>
    <h1>Ajout Nouvelle zone Affectée</h1>
    <form action="" method="post">
	    <div>
	        <label for="type">Type de minerai présent:</label>
	        <input type="select" id="type" name="name">
	    </div>
	    <div>
	        <label for="coordonnees">Coordonées de la zone:</label>
	        <input type="text" id="coordonnees" name="coordonneesGPS">
	    </div>
	    <div>
	    	<label for="echelle">Echelle de danger :</label>
	    	<input type="number" id="echelle" name="danger" min="1" max="10">
	    </div>
	     <div>
	    	<label for="date">Date de découverte :</label>
	    	<input type="date" id="date" name="date">
	    </div>
	    <div>
	        <button type="submit">Ajouter nouvelle zone</button>
	    </div>
	</form>
</div>
{% endblock %}
