{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<button class="retour"><a href="/">Retour</a></button>
    <h1>Bonjour Cher Habitant de Mars !</h1>
</div>
<header>
	<nav>
		<a href="/klingon">Klingon</a>
		<a href="/chomdu">Chomdû</a>
		<a href="/perl">Perl</a>
	</nav>
</header>
<body>
	<button class="ajout"><a href="/zones">Ajouter une zone affectée</a></button>
	
{% for zone in zones %}
	<div class="zone">
		<p>{{zone.coordonneesGPS}}</p>
		<p>{{zone.danger}}</p>
	</div>
		
{% endfor %}

	

	

</body>
<footer>
	<button>Contacter un scientifique</button>
</footer>
{% endblock %}
