{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<button><a href="/">Retour</a></button>
    <h1>Bonjour Cher Habitant de Mars !</h1>
</div>
<header>
	<nav>
		<a href="/descriptif">Klingon</a>
		<a href="/descriptif">Chomdû</a>
		<a href="/descriptif">Perl</a>
	</nav>
</header>
<body>
	<button><a href="/zones">Ajouter une zone affectée</a></button>
	<p>{{minerais.title}}</p>
</body>
<footer>
	<button>Contacter un scientifique</button>
</footer>
{% endblock %}
