{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<button><a href="/">Retour</a></button>
    <h1>Bienvenue à toi Scientifique</h1>

    Merci de t'identifier pour accéder au suivi des minerais radioactifs :
	<form action="" method="post">
	    <div>
	        <label for="name">Nom :</label>
	        <input type="text" id="name" name="user_name">
	    </div>
	    <div>
	        <label for="password">Password :</label>
	        <input type="password" id="password" name="user_password">
	    </div>
	    <div>
	        <input type="submit" name="Login" value="se connecter">
	    </div>
	</form>
</div>
{% endblock %}
