{% extends 'base.html.twig' %}

{% block title %}Descriptif{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<button><a href="/home">Retour à l'accueil</a></button>
    <h1>Description du minerai</h1>
    <p></p>

    <div>
    	<p></p>
    </div>

</div>
{% endblock %}
