{% extends 'base.html.twig' %}

{% block title %}Klingon{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<button><a href="/home">Retour</a></button>
    <h1>Le Klingon !</h1>
</div>
<body>
	<h3>{{minerais.title}}</h3>
	<p>{{minerais.content}}</p>
	<p>{{minerais.date | date('d/m/Y')}}</p>
	<p>Niveau de dangerosité : {{minerais.danger}}</p>
</body>
<footer>
	<button>Contacter un scientifique</button>
</footer>
{% endblock %}
