{% extends 'base.html.twig' %}

{% block title %}Bonjour NeoMarsien!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<button><a href="/">Retour</a></button>
    <h1>Bonjour NeoMarsien !</h1>

    <p> Je suis :</p>
   	<button><a href="/authentification">Un scientifique</a></button>
   	<button><a href="/home">Un Habitant</a></button>
</div>
{% endblock %}
